{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} Список авторов {% endblock title %}

{% block main_content %}
  
  <h2 class="alert alert-warning">Авторы</h2>
      <form action="" method="GET">
    {{search_form|crispy}}
    </form>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <table class="table table-hover" width=70%>
        <tr>
            <th width=5%><a href="?field=pk&direction={% if field_to_sort_on == 'pk' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}"> # 
            {% if field_to_sort_on == 'pk' and direction_to_sort_on == 'up' %}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'pk' and direction_to_sort_on == 'down' %}
            <i class="fas fa-chevron-down"></i>
            {% else %}
            {% endif %}
            </a></th>
            <th><a href="?field=surname&direction={% if field_to_sort_on == 'surname' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">ФИО
            {% if field_to_sort_on == 'surname' and direction_to_sort_on == 'up' %}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'surname' and direction_to_sort_on == 'down' %}
            <i class="fas fa-chevron-down"></i>
            {% else %}
            {% endif %}
            </a></th>
            <th width=20%><a href="?field=birthdate&direction={% if field_to_sort_on == 'birthdate' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Дата рождения
            {% if field_to_sort_on == 'birthdate' and direction_to_sort_on == 'up' %}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'birthdate' and direction_to_sort_on == 'down' %}
            <i class="fas fa-chevron-down"></i>
            {% else %}
            {% endif %}
            </a></th>
            <th width=20%><a href="?field=country&direction={% if field_to_sort_on == 'country' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Страна
            {% if field_to_sort_on == 'country' and direction_to_sort_on == 'up' %}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'country' and direction_to_sort_on == 'down' %}
            <i class="fas fa-chevron-down"></i>
            {% else %}
            {% endif %}            
            </a></th>
            {% if user.is_staff %}<th width=15%>Действия</th>{% endif %}
        </tr>
        {% for author in object_list %}
        <tr>
            <td>{{author.pk}}</td>
            <td><a href="{% url 'author-details' author.pk %}">{{author.surname}} {{author.name}} {{author.patronymic|default:""}}</a></td>
            <td>{{author.birthdate|default:""}}</td>
            <td>{{author.country|default:""}}</td>
            {% if user.is_staff %}<td><pre><a href="{% url 'author-delete' author.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a> <a href="{% url 'author-update' author.pk %}"><i class="fa fa-pencil" aria-hidden="true"></pre></i></a></td> {% endif %}   
        </tr>
        {% endfor %}
    </table>
    <p align=center ><a href="{% url 'author-create'%}" class="btn btn-success">Добавить автора</a></p>

{% endblock main_content  %}

