{% extends "base.html" %}
{% block title%} Author {% endblock title %}
{% block main_content %}
    <h1>{{object.surname}} {{object.name}} {{object.patronymic|default:""}}</h1>
    <table width=70% class="table table-striped">
        <tr >
            <th width=10% align=left>#</th>
            <td>{{object.pk}}</td>
        </tr>
        <tr>
            <th align=left>Дата рождения</th>
            <td>{{object.birthdate|default:""}}</td>
        </tr>
        <tr>
            <th align=left>Страна</th>
            <td>{{object.country|default:""}}</td>
        </tr>
        <tr>
            <th align=left>Биография</th>
            <td>{{object.biography|default:""}}</td>
        </tr>
        </table>
    <p align=center><a href="{% url 'author-list' %}" class="btn btn-info" >Вернуться к спику авторов</a></p>
{% endblock main_content  %}