{% extends "base.html" %}
{% block title%} Список авторов {% endblock title %}


{% block main_content %}
  
  <h1>Список авторов:</h1>
    <table class="table table-striped" width=70%>
        <tr>
            <th width=5%>#</th>
            <th>ФИО</th>
            <th width=20%>Дата рождения</th>
            <th width=20%>Страна</th>
            <th width=15%>Действия</th>
        </tr>
        {% for author in object_list %}
        <tr>
            <td>{{author.pk}}</td>
            <td><a href="{% url 'author-details' author.pk %}">{{author.surname}} {{author.name}} {{author.patronymic|default:""}}</a></td>
            <td>{{author.birthdate|default:""}}</td>
            <td>{{author.country|default:""}}</td>
            <td><pre><a href="{% url 'author-delete' author.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a> <a href="{% url 'author-update' author.pk %}"><i class="fa fa-pencil" aria-hidden="true"></pre></i></a></td>    
        </tr>
        {% endfor %}
    </table>
    <p align=center ><a href="{% url 'author-create'%}" class="btn btn-success">Добавить автора</a></p>

{% endblock main_content  %}

