{% extends "base.html" %}
{% block title%} Список серий книг {% endblock title %}

{% block main_content %}
  
  <h1>Список серий книг:</h1>
  
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <table class="table table-striped" width=70%>
        <tr>
            <th width=5%><a href="?field=pk&direction={% if field_to_sort_on == 'pk' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">#
            {% if field_to_sort_on == 'pk' and direction_to_sort_on == 'up' %}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'pk' and direction_to_sort_on == 'down' %}
            <i class="fas fa-chevron-down"></i>
            {% else %}
            {% endif %}
            </a></th>

            <th><a href="?field=series_name&direction={% if field_to_sort_on == 'series_name' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Серия книг
            {% if field_to_sort_on == 'series_name' and direction_to_sort_on == 'up' %}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'series_name' and direction_to_sort_on == 'down' %}
            <i class="fas fa-chevron-down"></i>
            {% else %}
            {% endif %}
            </a></th>    
            <th width=15%>Действия</th>
        </tr>
        {% for book_series in object_list %}
        <tr>
            <td>{{book_series.pk}}</td>
            <td>{{book_series.series_name}}</td>
            <td><a href="{% url 'book-series-delete' book_series.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a>    <a href="{% url 'book-series-update' book_series.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>    
        </tr>
        {% endfor %}
    </table>
    <p align=center ><a href="{% url 'book-series-create'%}" class="btn btn-success">Добавить серию книг</a></p>

{% endblock main_content  %}

