{% extends "base.html" %}
{% block title%} Список серий книг {% endblock title %}

{% block main_content %}
  
  <h1>Список серий книг:</h1>
    <table class="table table-striped" width=70%>
        <tr>
            <th>#</th>
            <th>Серия книг</th>
            <th>Действия</th>
        </tr>
        {% for book_series in object_list %}
        <tr>
            <td>{{book_series.pk}}</td>
            <td>{{book_series.series_name}}</td>
            <td><a href="{% url 'book-series-delete' book_series.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a>    <a href="{% url 'book-series-update' book_series.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>    
        </tr>
        {% endfor %}
    </table>
    <p align=center ><a href="{% url 'book-series-create'%}" class="btn btn-success">Добавить серию книг</a></p>

{% endblock main_content  %}

