{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} Корзина {% endblock title %}
{% block main_content %}
<h1>Добавление товара в корзину</h1>
<br>
<table class="table">
  <tbody>
{% for book_in_cart in object.books.all %}
    <tr>
      <td><img  width="150" src="{{book_in_cart.book.book_picture.url}}" alt="{{book_in_cart.book.name}}"></td>
      <td>{{book_in_cart.book}}</td>
      <td>{{book_in_cart.quantity}} шт.</td>
      <td>{{book_in_cart.book.price}} руб.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main_content  %}