{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} Корзина {% endblock title %}
{% block main_content %}
<h1>Товары в корзине </h1>
<br>
<table class="table">
  <tbody>
{% for book in object.books.all %}
    <tr>
      <td><img  width="150" src="{{book.book.book_picture.url}}" alt="{{book.book.name}}"></td>
      <td>{{book.book}}</td>
      <td>{{book.quantity}} шт.</td>
      <td>{{book.book.price}} руб.</td>
      <td>{{total_amount}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock main_content  %}