{% extends "base.html" %}
{% block title%} Книги {% endblock title %}
{% block main_content %}
  
  <h1>Все книги:</h1>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <table class="table table-striped" width=70%>
        <tr>
            <th><a href="?field=name&direction={% if field_to_sort_on == 'name' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Название книги
            {% if field_to_sort_on == 'name' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'name' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=price&direction={% if field_to_sort_on == 'price' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Цена, руб.
            {% if field_to_sort_on == 'price' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'price' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=author&direction={% if field_to_sort_on == 'author' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Автор
            {% if field_to_sort_on == 'author' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'author' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=series&direction={% if field_to_sort_on == 'series' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Серия
            {% if field_to_sort_on == 'series' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'series' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=genre&direction={% if field_to_sort_on == 'genre' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Жанр
            {% if field_to_sort_on == 'genre' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'genre' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=published_year&direction={% if field_to_sort_on == 'published_year' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Год издания
            {% if field_to_sort_on == 'published_year' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'published_year' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=publisher&direction={% if field_to_sort_on == 'publisher' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Издательство
            {% if field_to_sort_on == 'publisher' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'publisher' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>  
            <th><a href="?field=available_number&direction={% if field_to_sort_on == 'available_number' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Количество книг в наличии
            {% if field_to_sort_on == 'available_number' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'available_number' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>
            <th><a href="?field=rate&direction={% if field_to_sort_on == 'rate' and direction_to_sort_on == 'up' %}down{% else %}up{% endif %}">Рейтинг
            {% if field_to_sort_on == 'rate' and direction_to_sort_on == 'up'%}
            <i class="fas fa-chevron-up"></i>
            {% elif field_to_sort_on == 'rate' and direction_to_sort_on == 'down'%}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            </a></th>            
        </tr>
        {% for book in object_list %}
        <tr>
            <td><a href="{% url 'book-details' book.pk %}">{{book.name}}</a></td>
            <td>{{book.price}}</td>
            <td>{% for author in book.author.all %}<a href="{% url 'author-details' author.pk %}">{{author.surname}} {{author.name}} {{author.patronymic|default:""}}</a><br>{% endfor %}</td>
            <td>{{book.series}}</td>
            <td>{% for genre in book.genre.all %}{{genre.genre_name}}<br>{% endfor %}</td>
            <td>{{book.published_year}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.available_number}}</td>
            <td>{% if book.rate %}{{book.rate}} <i class="fa fa-star" aria-hidden="true"></i>{% endif %}</td>            
        </tr>
        {% endfor %}
    </table>
    {% if user.is_staff%}
    <p align=center ><a href="{% url 'book-create'%}" class="btn btn-success">Добавить книгу</a></p>
    {% endif %}
{% endblock main_content  %}
