{% extends "base.html" %}
{% block title%} Книжный интернет-магазин {% endblock title %}
{% block main_content %}
<div class="row alert alert-warning">  
<div class='col col-10'><h2>Наши новинки</h2></div>
<div class='col col-2' ><a href="{% url 'book-list' %}" class="link-success text-info"><p>перейти в каталог <i class="fas fa-angle-double-right"></i></p></a></div>
 </div>
 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
        {% for book in object_list %}
        <div class="col">
          <div class="card shadow-sm h-100" >
            <a href="{% url 'book-details' book.pk %}"><img class="card-img-top" src="{{book.book_picture.url}}" alt="{{book.name}}" height="280px"></a>
            <div id='card-body' class="card-body" >
              <div id='book-name' ><a class="link-success text-body " href="{% url 'book-details' book.pk %}">{{book.name}}</a></div>
              <div class="card-text" >{{book.price}} руб.</div>
              {% if book.rate == 5  %}<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> {% endif %}
              {% if book.rate == 4  %}<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i> {% endif %}
              {% if book.rate == 3  %}<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i> {% endif %}
              {% if book.rate == 2  %}<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i>{% endif %}
              {% if book.rate == 1  %}<i class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i><i id='star-grey' class="fa fa-star" aria-hidden="true"></i> {% endif %}
              <div>
                <div id='btn-group' class="btn-group">
                  {% if book.is_available == 'Да' and book.available_number > 0 %}<a href="{% url 'cart:add-to-cart' %}?book={{book.pk}}" class="btn btn-sm btn-outline-secondary"><i id='cart' class="fas fa-shopping-cart"></i></a>{% endif %}
                  {% if user.is_staff %}
                  <a href="{% url 'book-update' book.pk %}" class="btn btn-sm btn-outline-secondary"><i id='pencil' class="fa fa-pencil" aria-hidden="true"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>          
        </div>
        {% endfor %}  
      </div>
    </div>
  </div>
    <br>
<div class="row alert alert-warning">  
<div class='col col-10'><h2>Авторы</h2></div>
<div class='col col-2' ><a href="{% url 'author-list' %}" class="link-success text-info"><p>к списку авторов <i class="fas fa-angle-double-right"></i></p></a></div>
 </div>
 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for author in authors %}
        <div class="col">
          <div class="card shadow-sm">
            {% comment %} <a href="{% url 'book-details' book.pk %}"><img class="card-img-top" src="{{book.book_picture.url}}" alt="{{book.name}}"></a> {% endcomment %}
            <div class="card-body ">
              <p class="card-text"><a href="{% url 'author-details' author.pk %}">{{author.surname}}<br>{{author.name}}</a></p>
              <div class="d-flex justify-content-between align-items-center">
                  {% if user.is_staff %}
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'author-update' author.pk %}"><i id='pencil' class="fa fa-pencil" aria-hidden="true"></i></a></button>
                  {% endif %}
              </div>
            </div>
          </div>          
        </div>
        {% endfor %}  
      </div>
    </div>
  </div>
     

{% endblock main_content  %}
